.header{
    display: flex;
    justify-content: space-between;
    width: 135vh;
    height: 100px;
}

.header div{
    background-color:  #6D6875;
    border: 0.5px solid #CD8D94;
    border-radius: 10px;
    flex: 1;
    margin-left: 5px;
    text-align: center;
}

.cardsuperior h3{
    color: #CD8D94;
}

.cardsuperior p{
    color: white;
}